.route-point {
  min-width: 30px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: var(--ion-color-primary);
}

.start-point {
  font-size: larger;
  border-top: 1px solid var(--ion-color-primary);
  border-bottom: 1px dashed var(--ion-color-primary);
}

.end-point {
  font-size: larger;
  border-top: 1px dashed var(--ion-color-primary);
  border-bottom: 1px solid var(--ion-color-primary);
}

.route-point-label {
  display: flex;
  align-items: center;
}
