@if(route$ && route$ | async; as route) {
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'components.routeDetailsPage.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  [color]="theme$ | async">
  <h2 class="ion-padding-horizontal">{{route.from}} - {{route.neighborhood}}</h2>

  <ion-list [inset]="true" class="ion-padding-horizontal">
    <ion-text>
      <p>{{'components.routeDetailsPage.comments' | translate}}</p>
    </ion-text>
    @if(route.comments) {
    <ion-text color="medium">
      <p>{{route.comments}}</p>
    </ion-text>
    } @else {
    <ion-text color="medium">
      <p>{{'components.routeDetailsPage.noComments' | translate}}</p>
    </ion-text>
    }
  </ion-list>

  <h3 class="ion-padding-horizontal">{{'components.routeForm.checkpointsLabel' | translate }}</h3>
  <ion-list class="route-container" [inset]="true">
    <ion-grid>
      <ion-row class="ion-align-items-cente">
        <ion-col size="auto">
          <div class="route-point">
            <ion-icon name="ellipse-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="route-point-label start-point">
          {{route.from}}
        </ion-col>
      </ion-row>
      @for(checkpoint of route.checkpoints; track $index) {
      <ion-row  class="ion-align-items-cente">
        <ion-col size="auto">
          <div class="route-point">
            <ion-icon name="chevron-down-circle-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="route-point-label  checkpoint">
          {{checkpoint}}
        </ion-col>
      </ion-row>
      }
      <ion-row  class="ion-align-items-cente">
        <ion-col size="auto">
          <div class="route-point">
            <ion-icon name="radio-button-on-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="route-point-label end-point">
          {{route.neighborhood}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <h3 class="ion-padding-horizontal">{{'components.routeForm.daysLabel' | translate }}</h3>
  <ion-list class="ion-padding" [inset]="true">
    @for(day of route.schedule | keyvalue; track $index) {
    <ion-item>
      <ion-label>{{'common.days.' + day.key | translate}}</ion-label>
      <ion-text slot="end">{{day.value | date: 'H:mm'}}</ion-text>
    </ion-item>
    }
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="activateRoute(route.id)">
          {{'common.toActive' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" (click)="editRoute(route)">
          {{'components.routeDetailsPage.editButton' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="danger" fill="outline" expand="block" (click)="deleteRoute(route.id)">
          {{'components.routeDetailsPage.deleteButton' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
}
