
@for(vehicle of vehicles$ | async; track vehicle.id) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ vehicle.plates }} 
        <ion-chip color="primary" outline>

          <ion-icon *ngIf="vehicle.vehicleType === 'Carro'" name="car-sport-outline"></ion-icon>
          <ion-icon *ngIf="vehicle.vehicleType === 'Moto'" name="bicycle-outline"></ion-icon>
          <ion-label>{{ vehicle.vehicleType }}</ion-label>
        </ion-chip>
      </ion-card-title>
      <ion-card-subtitle>{{ vehicle.brand }} {{ vehicle.carModel }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-chip color="secondary" outline>
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>{{ vehicle.seats }} Puestos</ion-label>
      </ion-chip>
      <ion-chip color="secondary" outline>
        <ion-icon name="color-fill-outline"></ion-icon>
        <ion-label>{{ vehicle.color }}</ion-label>
      </ion-chip>
    </ion-card-content>
    <ion-button fill="clear" color="danger" >Eliminar</ion-button>
    <ion-button fill="clear" color="primary">Modificar</ion-button>
  </ion-card>
}

<div>
  <ion-card *ngIf="(vehicles$ | async)?.length != 0"  color="medium">
    <ion-card-header>
      <ion-card-subtitle>No tiene Vehiculos Registrados!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</div>
