<ion-list [inset]="true" class="ion-padding-horizontal">
  @if(!disabled && from && neighborhood) {
  <p>
    <ion-label>{{'components.routeForm.checkpointsLabel' | translate}}</ion-label><br>
    <ion-text color="medium"><sub>{{'components.routeForm.checkpointsHint' | translate}}</sub></ion-text>
  </p>

  <div class="route-checkpoints-container">
    <div class="route-line"></div>

    <div class="checkpoint-container start-point">
      <div class="checkpoint-indicator">
        <ion-icon name="radio-button-off-outline"></ion-icon>
      </div>
      <div class="route-start-end-label">{{from}}</div>
    </div>

    <div class="checkpoint-container" *ngFor="let checkpoint of checkpoints(); let i = index">
      <div class="checkpoint-indicator">
        <ion-icon name="radio-button-off-outline"></ion-icon>
      </div>
      <ion-input
        [value]="checkpoint"
        (ionChange)="updateCheckpoint($event, i)"
        [placeholder]="'components.routeForm.checkpointPlaceholder' | translate"
      ></ion-input>
      <ion-button  fill="clear" (click)="removeCheckpoint(i)">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
    </div>

    <div class="add-checkpoint-container">
      <div class="doted-route-line"></div>
      <ion-button fill="outline" size="small" (click)="addCheckpoint()">
        {{'common.add' | translate}}
        <ion-icon name="add" slot="end"></ion-icon>
      </ion-button>
    </div>

    <div class="checkpoint-container end-point">
      <div class="checkpoint-indicator">
        <ion-icon name="radio-button-off-outline"></ion-icon>
      </div>
      <div class="route-start-end-label">{{neighborhood}}</div>
    </div>
  </div>
  } @else {
  <p>
    <ion-label>{{'components.routeForm.checkpointsLabel' | translate}}</ion-label><br>
    <ion-text color="medium"><sub>{{'components.routeForm.checkpointsFillHint' | translate}}</sub></ion-text>
  </p>
  }
</ion-list>
