.general-form-container {
  padding: 16px;
}

.one-row-form {
  width: clamp(250px, 100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 2ch;

  form {
    display: flex;
    flex-direction: column;
    gap: 2ch;
    margin-top: 2ch;

    ion-input {
      margin-bottom: 2ch !important;
    }

    ion-note {
      margin-top: -5ch;
      font-size: 0.75rem;
      padding-inline-start: var(--padding-start);
    }
  }
}

@media screen and (max-width: 450) {
  .one-row-form {
    width: clamp(220px, 100%, 270px);
  }
}

