@if(nextTrip$ | async; as trip) {
<ion-card>
  <ion-card-header>
    <ion-card-subtitle> {{'Según tus rutas' | translate}} </ion-card-subtitle>
    <ion-card-title>{{ 'Próximo Viaje' | translate }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-icon name="car" slot="start"></ion-icon>
        <ion-label>
          <h2>{{trip.from}} - {{trip.district}}</h2>
          <p>{{'Ruta' | translate}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ trip.date | date: 'dd/MM/yyyy'}}</h2>
          <p>{{'Fecha' | translate }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="time" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ trip.hour | date: 'HH:mm'}}</h2>
          <p>{{'Salida' | translate }}</p>
        </ion-label>
      </ion-item>

      @if(trip.seats) {
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ trip.seats - trip.passengersIds.length}} / {{ trip.seats }}</h2>
          <p>{{'Puestos libres' | translate }}</p>
        </ion-label>
      </ion-item>
      }
    </ion-list>

  </ion-card-content>


  @if(trip.status === 'pending') {
  <ion-button expand="block" color="primary" (click)="openActiveTripFormular(trip)" class="ion-padding">
    {{'Activar y Publicar Viaje' | translate}}
  </ion-button>
  }

  @if(trip.status === 'active') {
  <ion-button expand="block" color="primary" id="complete-sheet" class="ion-padding">
    {{'Completar Viaje' | translate}}
  </ion-button>
  <ion-action-sheet
    trigger="complete-sheet"
    header="Has completado el viaje?"
    [buttons]="completeButtons"
    (didDismiss)="onCompleteSheetDismiss($event, trip)"
  ></ion-action-sheet>

  <ion-button expand="block" color="danger" id="delete-sheet" class="ion-padding">
    {{'Cancelar Viaje' | translate}}
  </ion-button>
  <ion-action-sheet
    trigger="delete-sheet"
    header="Estas Seguro de cancelar?"
    [buttons]="cancelButtons"
    (didDismiss)="onDeleteSheetDismiss($event, trip)"
  ></ion-action-sheet>
  }
</ion-card>

} @else {
<ion-list [inset]="true">
  <ion-item>
    <ion-note color="medium" class="ion-margin-horizontal">
      {{'No tienes viajes programados para hoy' | translate}}
    </ion-note>
  </ion-item>
</ion-list>

<ion-button id="create-sheet" expand="block" color="primary" class="ion-padding">
  {{'Nuevo viaje' | translate}}
</ion-button>
<ion-action-sheet
  trigger="create-sheet"
  header="Activar nuevo viaje"
  [buttons]="createButtons"
  (didDismiss)="onCreateSheetDismiss($event)"
></ion-action-sheet>
}
