.tab-bar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem 0;
  border-top: 1px solid var(--ion-color-medium);
}

ion-tab-button::ng-deep {
  &:hover {
    color: var(--ion-color-primary) !important;
    ion-icon {
      background-color: blue;
    }
  }
}
