@if (user$ | async; as user) {
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">
        Moin {{ user.displayName }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <strong (click)="logout()" style="cursor: pointer;">Logout</strong>

  <div class="tab-bar">
    <ion-tab-button>
      <ion-icon name="car-sport-outline"></ion-icon>
      viajes
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="analytics-outline"></ion-icon>
      rutas
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="person-circle-outline"></ion-icon>
      cuenta
    </ion-tab-button>
  </div>
</ion-content>
}
