@if (user$ | async; as user) {
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{'components.tabs.trips' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">
        Dashboard
      </ion-title>
    </ion-toolbar>
  </ion-header>

  @if(activeBooking$ | async; as booking) {
  <ion-list class="ion-padding">
    <ion-list-header>
      <ion-label>
        Tienes un viaje confirmado
      </ion-label>
    </ion-list-header>

    <app-booking-card [booking]="booking"></app-booking-card>
  </ion-list>
  } @else if(activeTrip$ | async ) {
  <ion-list class="ion-padding">
    <ion-list-header>
      <ion-label>
        Tienes un viaje activo
      </ion-label>
    </ion-list-header>

    <!-- TODO: Continue here  as well showing the active trip card -->

  </ion-list>
  } @else {
  <ion-list  class="ion-padding">
    <ion-list-header>
      <ion-label>
        Viajes disponibles
      </ion-label>
    </ion-list-header>

    @for(trip of availableTrips$ | async; track trip.id) {
    <ion-item [routerLink]="'/booking/' + trip.id">
      <ion-chip color="secondary" outline slot="end">
        <ion-label>{{trip.seats - trip.passengersIds.length}}</ion-label>
        <ion-icon name="body"></ion-icon>
      </ion-chip>
      <ion-label>
        <h2>{{trip.neighborhood + ' (' + trip.district + ')'}}</h2>
        <h3>{{'salida desde:' | translate}} {{trip.from}}</h3>
        <h3>{{trip.hour | date: 'hh:mm'}}</h3>
        <p>{{trip.comments}}</p>
      </ion-label>
    </ion-item>
    } @empty {
    <p>
      {{'No hay viajes disponibles' | translate}}
    </p>
    }
  </ion-list>
  }

  <ion-list class="ion-padding">
    <ion-list-header>
      <ion-label>
        Historial de Reservas
      </ion-label>
    </ion-list-header>

    @for(booking of bookings$ | async; track booking.id) {
    <app-booking-item [booking]="booking"></app-booking-item>
    } @empty {
    <p>
      {{'No tienes historial de reservas' | translate}}
    </p>
    }

  </ion-list>

</ion-content>
}
