<!-- <form (ngSubmit)="onSubmit()" #vehicleForm="ngForm"> -->
<form [formGroup]="vehicleForm" novalidate>

  <ion-input [label]="'Marca'"
      label-placement="stacked"
      fill="outline"
      formControlName="brand"
      [placeholder]="'KIA, Renault, Toyota'"
      [errorText]="vehicleForm.controls.brand.hasError('required') &&
      vehicleForm.controls.brand.touched ?
      'Campo Requerido' : ''"
  >
  </ion-input>

  <ion-input [label]="'modelo'"
    label-placement="stacked"
    fill="outline"
    formControlName="carModel"
    [placeholder]="'Rio, Logan, Prado'"
    [errorText]="vehicleForm.controls.carModel.hasError('required') &&
    vehicleForm.controls.carModel.touched ?
    'Campo Requerido' : ''"
  >
  </ion-input>
 
  <ion-input [label]="'Color'"
    label-placement="stacked"
    fill="outline"
    formControlName="color"
    [placeholder]="'Negro, Plateado'"
    [errorText]="vehicleForm.controls.color.hasError('required') &&
    vehicleForm.controls.color.touched ?
    'Campo Requerido' : ''"
  >
  </ion-input>
 
  <ion-input [label]="'Placa'"
    label-placement="stacked"
    fill="outline"
    formControlName="plates"
    [placeholder]="'AAA000'"
    [errorText]="vehicleForm.controls.plates.hasError('required') &&
    vehicleForm.controls.plates.touched ?
    'Campo Requerido' : ''"
  >
  </ion-input>

  <ion-select [label]="'Tipo de Vehículo'"
    label-placement="stacked"
    fill="outline"
    formControlName="vehicleType"
    [placeholder]="'Carro o Moto'"
    >
      <ion-select-option value="carro">Carro</ion-select-option>
      <ion-select-option value="moto">Moto</ion-select-option>
  </ion-select>

  <ion-input [label]="'Cupos'"
    label-placement="stacked"
    fill="outline"
    formControlName="seats"
    [placeholder]="'2'"
    [errorText]="vehicleForm.controls.seats.hasError('required') &&
    vehicleForm.controls.seats.touched ?
    'Campo Requerido' : ''"
  >
  </ion-input>
  
  <ion-button expand="full" type="submit" [disabled]="!vehicleForm.valid">Registrar</ion-button>
</form>