@for(day of schedule() | keyvalue; track $index) {
<div
  class="day-container ion-align-items-center ion-justify-content-start"
  [class.inactive]="!day.value"
>
  <ion-checkbox
    [checked]="!!day.value"
    (ionChange)="toggleDay($event, day.key)"
  ></ion-checkbox>
  <ion-label>{{ 'common.days.' + day.key | translate}}</ion-label>
  @if(day.value && selectorHourDay !== day.key) {
  <ion-button fill="outline" (click)="openHourSelector(day.key)">
    @if(day.value) {
    {{day.value | date: 'H:mm'}}
    } @else {
    hh:mm
    }
  </ion-button>
  }
</div>
@if(selectorHourDay === day.key) {
<div class="hour-selector-container" [ngClass]="selectorHourDay ? 'show':'hide'">
  <div class="selector-buttons" [ngClass]="showCancelSelector ? '' : 'center'">
    @if(showCancelSelector) {
    <ion-button fill="clear" (click)="cancelHourSelector()">{{'common.cancel' | translate}}</ion-button>
    }
    <ion-button fill="clear" (click)="confirmHourSelector()">{{'common.confirm' | translate}}</ion-button>
  </div>
  <ion-datetime
    [(ngModel)]="hourSelectorValue"
    display-format="HH:mm"
    presentation="time"
  ></ion-datetime>
</div>
}
}


