<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{'components.tabs.routes' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'components.tabs.routes' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (userRoutes$ | async; as routes) {
  @if (routes.length > 0) {
  <div class="routes-list page-bottom-padding">
    @for(route of routes; track $index) {
    <ion-card [routerLink]="'route-details/' + route.id">
      <ion-card-header>
        <ion-card-title>{{route.from + ' - ' + route.neighborhood}}</ion-card-title>
        <ion-card-subtitle>{{route.district}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{route.checkpoints.join(' -> ')}}</p>
      </ion-card-content>
    </ion-card>
    }
  </div>
  } @else {
  <div class="ion-padding">
    <ion-text>{{'components.routesPage.noRoutesHint' | translate}}</ion-text>
  </div>
  }
  }@else {
  <div class="ion-padding">
    <ion-text>{{'components.routesPage.noRoutesHint' | translate}}</ion-text>
  </div>
  }



  <ion-button slot="fixed" class="ion-padding add-button" expand="block" (click)="openRouteModal()">
    <ion-icon slot="start" name="add"></ion-icon>
    {{'components.routesPage.addRouteButton' | translate}}
  </ion-button>
</ion-content>
